* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 170px 0px 170px;
    

}

.navbar-p1,
.navbar-p2,
.navbar-p3,
.navbar-icon {
    display: flex;
    align-items: center;

}

.logo {
    width: 50px;
    border-radius: 50px;
}

.navbar-p2,
.navbar-p3,
.navbar-link {
    gap: 27px;
}

.navbar-p2 #navbar__trip:hover {
    text-decoration: underline gray 5px;
    color: gray;
    cursor: pointer;
}

.navbar__list {
    padding: 10px;
    border-radius: 50px;

}

.navbar__list:hover {
    cursor: pointer;
    background-color: #d7d7d7;
}

.navbar-p3 {
    position: relative;
}

.navbar-p3__global {
    width: 30px;
}

.navbar-icon {
    padding: 10px;
    border-radius: 50px;

}

.navbar-icon:hover {
    cursor: pointer;
    background-color: #d7d7d7;
}

.navbar-link {
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.where {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 0 0;
}

.list-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    font-size: 18px;
}

#container-list__id {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px rgb(31, 31, 31) solid;
    cursor: pointer;
    padding-bottom: 5px;
}

.container-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container-list:hover {
    border-bottom: 2px rgb(31, 31, 31) solid;
    color: gray;
    cursor: pointer;
    padding-bottom: 5px;
}


.search-div {
    width: 60%;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.searchbar {
    background-color: #d7d7d7;
    padding: 10px;
    border-radius: 50px;
}

.search {
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
}

#search-box {
    width: 100%;
    border: none;
}

#search-box:focus {
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.search-center {
    display: flex;
    justify-content: center;
}

.sale-image {
    display: flex;
    justify-content: center;
}

.sale-image img {
    width: 80%;
    margin: 90px;
    border-radius: 20px;
    box-shadow: rgb(190, 190, 190);
}

.text-container__heading {
    font-size: 25px;
    font-weight: 600;
}

.text-container {
    margin-left: 150px;

}

.container__cards {
    display: flex;
    margin: 70px;
    justify-content: space-around;
    gap: 5px;
    
}

.card img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.card img:hover {
    opacity: 0.8;
}

.card {
    position: relative;
}

.card p {
    position: absolute;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.card-others {
    font-size: 17px;
    font-weight: 600;

}
.card-others img{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    

}
.ads {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    bottom: 50px;
    justify-content: center;
}

.ad {
    display: flex;
    width: 80%;
    height: 180px;
    align-items: center;
    gap: 20px;
    background-color: #FAF1ED;
}

.rotate img {
    rotate: 355deg;
    margin: 10px 0 10px 20px;
    border-radius: 10px;
}

.btn {
    position: absolute;
    bottom: 20px;
    right: 200px;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 15px;
    background-color: white;

}

.btn:hover {
    cursor: pointer;
    color: white;
    transition: 600ms;
    background-color: #000000;
}

.dot i{
    padding: 3px;
}

.three-card {
    display: flex;
    position: relative;
    gap: 30px;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-color: #FAF1ED;
}

.three-card img {
    border-radius: 10px;

}

.three-card__img {
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 300px;
    top: 50px;
}


.s1 {
    display: flex;
    gap: 50px;
    padding: 0 70px 0 70px;
    position: absolute;
    left: 50px;
    top: 50px;
}

.contact {
    position: relative;
    background-color: #FAF1ED;
    margin-top: 70px;
    display: flex;
    height: 400px;
    justify-content: space-around;
}

.s2 {
    display: flex;
    position: absolute;
    right: 200px;
    top: 50px;
}

.p1 p {
    padding: 5px;
}

.p2 p {
    padding: 5px;
}

.p3 p {
    padding: 5px;
}